body{
    margin: 0;
}
.wrap{
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: pink;
    position: relative;
    text-align: center;
}
.header{
    background: orange;
    text-align: left;
    font-size: 8em;
}
.header #logo{
  float:left;
}
.header #logo img{
    vertical-align: middle;
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.middle-left{
    height: 60vh;
    width: 40vw;
    margin-right: 1vw;
}
.login-area{
    float: left;

    background-color: grey;
}
.middle-right{
    height: 60vh;
    width: 10vw;
    background-color: grey;
}
.footer{
    height: 15vh;
    width: 100vw;
    background: green;
    position: absolute;
    left: 0;
    bottom: 0;
}
