@font-face {
    font-family: NanumSquare;
    src:url("nanumsquare.woff");
}
body{
    margin: 0;
}
span,div{
    font-family: NanumSquare;
    text-align: center;
}
.wrap{
    width: 100vw;
    min-width: 1000px;
    height: 100vh;
    margin: auto;
    background: url("table.svg");
    position: absolute;
}
.header{
    background: orange;
    height: 8vh;
    position: relative;
    z-index: 1;
}
.header #logo{
    float:left;
    height: 8vh;
}
#logo img{
    height: 8vh;
}
#sidebar {
    background: grey;
    width: 300px;
    height: 100%;
    top: 0;
    left: -300px;
    position: fixed;
    z-index: 1;
}
#sidebar > button {
  background:#333;
  position: absolute;
  top: 8vh;
  left: 300px;
  width: 52px;
  height: 3em;
  border: none;
  color: white;
}
#google-login{
    padding: 0;
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84vh;
    position: relative;
}
.middle-left{
    height: 70vh;
    width: 100vh;
    min-width: 700px;
    min-height: 490px;
    border: 10px solid darkorange;
    border-radius: 2.5%;
    margin-right: 1vw;
    z-index: 0;
}
.middle-right{
    height: 70vh;
    width: 20vh;
    background: darkorange;
    border-radius: 1em;
    min-height: 490px;
    min-width: 220px;
    overflow: auto;
}
.my-position{
    float: left;
    margin-left: 20px;
    text-align: left;
    font-size: 2em;
}
.footer{
    height: 8vh;
    width: 100%;
    background: green;
    position: fixed;
    left: 0;
    bottom: 0;
}
.footer-disc{
    text-align: left;
    margin-left: 10px;
    color: black;
}
.footer-disc a{
    color: black;
    text-decoration: none;
}
.footer-disc a:hover{
    color:black;
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
}
.position-btn-box{
    margin-top: 4px;
    margin-bottom: 4px;
}
#keyword{
    margin-bottom: 4px;
}
.radio{
    margin-bottom: 5px;
}