<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/style.css?ver=1}" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"/>
    <Title>맛집찾아</Title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script th:inline="javascript">
  	$(function(){
  		var duration = 300;

  		var $side = $('#sidebar');
  		var $sidebt = $side.find('button').on('click', function(){
  			$side.toggleClass('open');

  			if($side.hasClass('open')) {
  				$side.stop(true).animate({left:'0px'}, duration);
  				$('.footer').animate({left:'300px'},duration);
                $('#logo').animate({marginLeft:'300px'},duration);
  				$sidebt.find('span').text('X');
  			}else{
  				$side.stop(true).animate({left:'-300px'}, duration);
                $('.footer').animate({left:'0px'},duration);
                $('#logo').animate({marginLeft:'0px'},duration);
  				$sidebt.find('span').text('MENU');
  			};
  		});
  	});
  </script>
</head>
<body>
<div class="wrap">
    <!-- HEADER -->
    <div class="header">
        <div id="logo">
            <img th:src="@{/img/logo.png}"/>
            <img th:src="@{img/title.png}" height="100px"/>
        </div>
    </div>
    <aside id="sidebar">
        <div class="login-area">
        <span th:if="${userName != null}">
            안녕하세요! <span th:text="${userName}"></span> 님! <br>
            <input type="hidden" id="userId" th:value="${id}"/>
            <input th:if="${last_keyword != null}" type="hidden" id="last-keyword"  th:value="${last_keyword}"/>
            <input th:if="${last_position != null}" type="hidden" id="last-position"  th:value="${last_position}"/>
            <script th:inline="javascript">
                keyword = $('#last-keyword').val();
                position = $('#last-position').val();
                $(window).load(function(){
                    loadLastPosition(position);
                    $('.last-keyword').html(keyword).click(function (){
                        $('#keyword').val(keyword).focus();
                    });
                });
            </script>
            <a href="/logout" class="btn btn-info active" role="button">로그아웃</a>
        </span>
            <span th:if="${userName == null}">
            <a class="btn btn-outline-dark" id="google-login" href="/oauth2/authorization/google" role="button" style="text-transform:none">
            <img height="43px" th:src="@{/img/googlelogin.png}" />
            </a>
            <a class="btn btn-outline-dark" id="naver-login" href="/oauth2/authorization/naver" role="button" style="text-transform:none">
            <img height="40px" th:src="@{/img/naverlogin.png}" />
            </a>
        </span>
        </div>
			<button><span class="btn_t">MENU</span></button>
		</aside>
    <!-- MIDDLE -->
    <div class="middle">
        <div class="middle-left" id="map"></div>
        <div class="middle-right">
            <div>
            <!-- 위치 정보 가져오는 버튼 -->
            <button type="button" class="btn btn-lg btn-primary"
                    onclick="getCurrentPosBtn()">내 위치 가져오기</button>
            <button type="button" class="btn btn-lg btn-primary"
                    onclick="getCurrentPosByPickBtn()">내 위치 직접선택</button>
            </div>
            <input type="text" class="form-control" id="keyword" onkeypress="if(event.keyCode==13){keywordSearch();}"
                   placeholder="키워드(ex 국밥,불고기)">
            <span class="last-keyword">최근키워드</span>
            <button type="button" class="btn btn-lg btn-primary" onclick="keywordSearch()">검색</button>
            <div class="radio">
                <div>
                    최대 검색 거리 선택
                </div>
                <label>
                    <input type="radio" name="distance" value="500" checked>
                    500M
                </label>
                <label>
                    <input type="radio" name="distance" value="1000">
                    1000M
                </label>
                <label>
                    <input type="radio" name="distance" value="2000">
                    2000M
                </label>
            </div>
            <div class="result-list">
                <ul id="placesList"></ul>
                <div id="pagination"></div>
            </div>
        </div>
    </div>
    <div style="clear:both"></div>
    <div class="footer">
        <span>이곳은 하단 푸터 영역 입니다. 색깔은 초록</span>
    </div>
</div>
<script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a7785e99dbe88494a267131d874684c8&libraries=services"></script>
<script type="text/javascript" th:src="@{map.js?ver=1.1}"></script>
</body>
</html>
